{
  "extends": ["eslint-config-egg/typescript"],
  "rules": {
    "@typescript-eslint/semi": ["warn", "never"],
    "@typescript-eslint/no-unused-vars": ["warn"],
    "array-bracket-spacing": ["warn", "never"],
    "space-before-function-paren": ["warn", "always"],
    "comma-dangle": 0
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
