logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
!.autod.conf.js
!.prettierrc.js

test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map

.env
uploads/
log.txt
testWork.json
app/public
/.docker-volumes
